RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
Header set Access-Control-Allow-Origin: http://kustosan.github.io             #default
Header set Access-Control-Allow-Origin: https://kustosan.github.io env=HTTPS   #override if https
